{% extends 'tutor_dashboard/tutor-dashboard.html' %}

{% block table_content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mt-3 offset-md-3 text-white font-monospace fw-medium">
            <h2>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Schedule Template</h2>
            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-3 col-md-2">
                        <label for="id_term">Term:</label>
                    </div>
                    <div class="col-9 col-md-10">
                        <p id="id_term">{{ form.term_name }}</p>
                        <p hidden>{{ form.term }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-md-2">
                        <label for="id_study_group">Study Group:</label>
                    </div>
                    <div class="col-9 col-md-10">
                        <p id="id_study_group">{{ form.study_group_name }}</p>
                        <p hidden>{{ form.study_group }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-md-2">
                        <label for="id_weekday">Weekday:</label>
                    </div>
                    <div class="col-9 col-md-10">
                        <p id="id_weekday">{{ form.weekday_name }}</p>
                        <p hidden>{{ form.weekday }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-md-2">
                        <label for="id_order_number">Order Number:</label>
                    </div>
                    <div class="col-9 col-md-10">
                        <p id="id_order_number">{{ form.order_number.value }}</p>
                        <p hidden>{{ form.order_number }}</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3 col-md-2">
                        <label for="id_order_number">Subject:</label>
                    </div>
                    <div class="col-9 col-md-10">
                        {{ form.subject }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="d-flex">
                        <button type="submit" class="btn btn-success me-2">
                            Save
                        </button>
                        <a href="{% url 'tutor:schedule_templates' %}?term={{ form.term.value }}&study_group={{ form.study_group.value }}" class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock table_content %}