{% extends 'tutor_dashboard/tutor-dashboard.html' %}

{% block table_content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mt-3 offset-md-3 text-white font-monospace fw-medium">
            <h2>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Schedule Template</h2>
            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-3 col-md-2">
                        <label for="id_term">Term:</label>
                    </div>
                    <div class="col-9 col-md-10">
                        <p id="id_term">{{ form.term_name }}</p>
                        <p hidden>{{ form.term }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-md-2">
                        <label for="id_study_group">Study Group:</label>
                    </div>
                    <div class="col-9 col-md-10">
                        <p id="id_study_group">{{ form.study_group_name }}</p>
                        <p hidden>{{ form.study_group }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-md-2">
                        <label for="id_weekday">Weekday:</label>
                    </div>
                    <div class="col-9 col-md-10">
                        <p id="id_weekday">{{ form.weekday_name }}</p>
                        <p hidden>{{ form.weekday }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 col-md-2">
                        <label for="id_order_number">Order Number:</label>
                    </div>
                    <div class="col-9 col-md-10">
                        <p id="id_order_number">{{ form.order_number.value }}</p>
                        <p hidden>{{ form.order_number }}</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3 col-md-2">
                        <label for="id_order_number">Subject:</label>
                    </div>
                    <div class="col-9 col-md-10">
                        {{ form.subject }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="d-flex">
                        <button type="submit" class="btn btn-success me-2">
                            Save
                        </button>
                        {% if form.instance.pk %}
                        <div class="me-2">
                            <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal"
                                data-bs-target="#deleteModal">
                                Delete
                            </button>
                        </div>
                        {% endif %}
                        <a href="{% url 'tutor:schedule_templates' %}?term={{ form.term.value }}&study_group={{ form.study_group.value }}"
                            class="btn btn-secondary me-2">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% if form.instance.pk %}
<!-- Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog text-dark">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Confirm Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this object?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post"
                    action="{% url 'tutor:delete_schedule_template' form.instance.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock table_content %}