{% extends 'tutor_dashboard/tutor-dashboard.html' %}
{% load static %}

{% block table_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-3 text-white font-monospace fw-medium">
            <div class="row">
                <div class="col-4 col-md-2">
                    <button class="btn-custom mb-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                        Selection
                    </button>
                </div>
                <div class="col-8 col-md-10">
                    <p id="selectionDescription" class="text-light"></p>
                </div>
            </div>
            <div class="collapse" id="collapseForm">
                <form method="post" id="selection-shedule-templates">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="schedule-templates" data-empty="{{ table_empty }}">
        <div class="row">
            {% for weekday, details in schedule_templates.items %}
            <div class="col-12 col-md-4 col-lg-3 col-xl px-0">
                <div class="card bg-transparent mt-3">
                    <h6
                        class="card-header {% if weekday < 5 %}text-bg-info{% else %}text-bg-danger{% endif %} text-light bg-opacity-50 text-uppercase">
                        {{ details|first }}</h6>
                    <ul class="list-group list-group-flush bg-transparent">
                        {% for detail in details|slice:":2" %}
                            {% for order, subject_detail in detail.items %}
                                {% if subject_detail.id %}
                                <a href="{% url 'tutor:edit_schedule_template' pk=subject_detail.id %}"
                                    class="text-decoration-none text-reset">
                                    <li class="list-group-item p-0 border-secondary text-bg-secondary bg-opacity-50">
                                        <div class="row px-3">
                                            <div class="col-2 px-0 ps-1 border-end border-secondary">{{ order }}</div>
                                            <div class="col-10 px-1">{{ subject_detail.subject }}</div>
                                        </div>
                                    </li>
                                </a>
                                {% else %}
                                <li class="list-group-item p-0 border-secondary text-bg-secondary bg-opacity-50">
                                    <div class="row px-3">
                                        <div class="col-2 px-0 ps-1 border-end border-secondary">{{ order }}</div>
                                        <div class="col-10 px-1"></div>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock table_content %}