{% extends 'tutor_dashboard/tutor_dashboard.html' %}
{% load static %}

{% block table_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col mt-3 text-white font-monospace fw-medium">
            <div class="row">
                <div class="col-auto">
                    <a id="update-selection" class="icon-link link-light icon-link-hover me-3" href="#"
                        aria-label="Refresh the schedule templates with updated selections" data-bs-toggle="tooltip"
                        title="Refresh the schedule">
                        <i class="fas fa-sync"></i>
                    </a>
                    <button class="btn-custom me-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm"
                        aria-label="Expand or collapse the schedule selection form">
                        <span data-bs-toggle="tooltip" title="Expand or collapse the selection form">
                            Selection
                        </span>
                    </button>
                </div>
                <div class="col-auto">
                    <p id="selectionDescription" class="text-light flex-grow-1 mt-2 mt-md-0"></p>
                </div>
            </div>
            <div class="row">
                <div class="collapse col-auto mt-2" id="collapseForm">
                    <form method="post" id="selection-schedule" aria-label="Schedule selection form for templates">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button id="submit-selection" class="btn btn-primary" aria-label="Apply the selection"
                            data-bs-toggle="tooltip" title="Automatically fill the schedule">
                            Apply
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="schedule" data-empty="{{ table_empty }}" data-template-name="schedule-templates">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-7">
            {% for weekday, details in schedule_templates.items %}
            <div class="col px-0">
                <div class="card bg-transparent mt-3">
                    <div
                        class="card-header {% if weekday < 5 %}text-bg-info{% else %}text-bg-danger{% endif %} text-light bg-opacity-50 text-uppercase">
                        {{ details|first }}
                    </div>
                    <ul class="list-group list-group-flush bg-transparent">
                        {% for detail in details|slice:":2" %}
                        {% for order, subject_detail in detail.items %}
                        {% if subject_detail.id %}
                        <li class="list-group-item p-0 border-secondary text-bg-secondary bg-opacity-50">
                            <a href="{% url 'tutor:edit_schedule_template' pk=subject_detail.id %}"
                                class="text-decoration-none text-reset"
                                aria-label="Edit schedule template for weekday {{ details|first }}, order {{ order }}, and subject {{ subject_detail.subject }}">
                                <div class="row px-3">
                                    <div class="col-2 px-0 ps-1 border-end border-secondary">
                                        {{ order }}
                                    </div>
                                    <div class="col-10 px-1 text-truncate">
                                        {{ subject_detail.subject }}
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% else %}
                        <li class="list-group-item p-0 border-secondary text-bg-secondary bg-opacity-50">
                            <a href="{% if selection_valid %}{% url 'tutor:add_schedule_template' %}?term={{ form.term.value }}&study_group={{ form.study_group.value }}&weekday={{ weekday }}&order_number={{ order }}{% else %}#{% endif %}"
                                class="text-decoration-none text-reset"
                                aria-label="Add new schedule template for term {{ form.term.value }}, study group {{ form.study_group.value }}, weekday {{ details|first }}, and  order {{ order }}">
                                <div class="row px-3">
                                    <div class="col-2 px-0 ps-1 border-end border-secondary">
                                        {{ order }}
                                    </div>
                                    <div class="col-10 px-1"></div>
                                </div>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Instruction Modal -->
<div class="modal fade text-dark" id="instructionModal" tabindex="-1" aria-labelledby="instructionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info-subtle">
                <h5 class="modal-title" id="instructionModalLabel">Form Instructions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close Instruction"></button>
            </div>
            <div class="modal-body bg-light">

                <ul>
                    <li>Selection
                        <ol>
                            <li>Click on the <strong>Selection</strong> button to expand the form.</li>
                            <li>Fill out the required fields, including term, and study group.</li>
                            <li>Click on the <strong>Apply</strong> button to apply the selection.</li>
                        </ol>
                    </li>
                    <li>Adding and changing data
                        <ol>
                            <li>Сlick on a cell to open a form to fill out or edit</li>
                            <li>Fill out the subject.</li>
                            <li>Click <strong>Save</strong> to save changes, or <strong>Cancel</strong> to go back
                                without
                                saving.</li>
                        </ol>
                    </li>
                    <li>Delete data
                        <ol>
                            <li>Click on a cell to open a form</li>
                            <li>Click <strong>Delete</strong> to delete the object, or <strong>Cancel</strong> to go
                                back without
                                deleting.</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <div class="modal-footer bg-body-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close Instruction">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock table_content %}