/* General styles */
/* Colors */

:root {
    --red-color: #D82A21;
    --dark-color: rgba(0, 0, 0, 0.65);
    --light-color: #f8f9fa;
}

.red-color {
    color: var(--red-color);
}

/* Button */
.btn-custom {
    background-color: var(--light-color);
    color: var(--dark-color);
    opacity: 75%;
    border: 1px solid var(--light-color);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    opacity: 60%;
}

/* Customization of Bootstrap */

.navbar .nav-link:hover {
    background-color: var(--light-color);
    color: var(--red-color);
}

.navbar .navbar-brand .red-color:hover,
.footer-link:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.nav-tabs .nav-link.active {
    opacity: 0.5;
}

.nav-tabs .nav-link:not(.active):hover,
.nav-tabs .nav-link:not(.active):focus {
    color: var(--light-color);
}

.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
    color: var(--dark-color);
}

.link-light:hover, .link-light:focus {
    opacity: 75%;
}

/* Home page */
.bg-image-home {
    background-image: url('https://c.pxhere.com/images/fd/75/25e0b91093d48d1f365fd43c7cc2-1571983.jpg!d');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contact page */
.bg-image-contact {
    background-image: url('https://c.pxhere.com/photos/b2/9f/sackcloth_sackcloth_textured_laptop_ipad_brown_fabric_organic_natural-1046485.jpg!d');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#map {
    min-height: 360px;
}

/* Sign in page */
.bg-image-sign-in {
    background-image: url('https://c.pxhere.com/photos/2a/0f/analysis_biochemistry_biologist_biology_biotechnology_chemistry_clinic_clinical-1192482.jpg!d');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Sign up page */
.bg-image-sign-up {
    background-image: url('https://c.pxhere.com/images/23/8c/f2d0f23376af9e9237d32b6daa02-1430845.jpg!d');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Tutor dushboard*/
.nav-link-tutor {
    color: var(--light-color);
}

/* Student dushboard*/
.accordion-button.collapsed .fa-chevron-down {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.accordion-button .fa-chevron-down {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
}

/* Dashboard*/

.bg-image-dashboard-info {
    background-image: url('https://c.pxhere.com/photos/c1/e2/black_board_chalk_traces_school_learn_education_smeared_writing_board-1057578.jpg!d');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#update-selection {
    font-size: 180%;
}

#instructions-button {
    font-size: 200%;
}

/* 403 page*/
.bg-image-403 {
    background-image: url('https://c.pxhere.com/photos/41/73/advertisement_advertising_background_billboard_black_blackboard_blank_board-1177338.jpg!d');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* The feild created by DJango*/
#id_homework {
    width: 100%;
    height: 100px;
}