{% extends 'base.html' %}
{% load static %}

{% block extra_links %}
<style>
    :root {
        --bg-image-error-url: url("{% static 'images/error-page.webp' %}");
        --bg-image-error-tablet-url: url("{% static 'images/error-page-tablet.webp' %}");
        --bg-image-error-mobile-url: url("{% static 'images/error-page-mobile.webp' %}");
    }
</style>
{% endblock extra_links %}

{% block content %}

<section class="masthead py-4 text-center text-light bg-image-error">
    <div class="container">
        <div class="row text-center">
            <h1>404 - Not Found</h1>
            <p class="fs-2">Sorry, this page is not found. Please contact the administrator if you believe this is an error.</p>
        </div>
    </div>
</section>

{% endblock content %}