{% extends 'base.html' %}
{% load static %}

{% block extra_links %}
<style>
    :root {
        --bg-image-home-url: url("{% static 'images/home-page.webp' %}");
        --bg-image-home-tablet-url: url("{% static 'images/home-page-tablet.webp' %}");
        --bg-image-home-mobile-url: url("{% static 'images/home-page-mobile.webp' %}");
    }
</style>
{% endblock extra_links %}

{% block content %}

<section class="masthead py-4 text-center bg-image-home">
    <div class="container">
        <h1 class="display-4 fw-bold">
            Welcome to Medical University
        </h1>
        <p class="fs-5 fw-normal">
            Pioneering medical education, research, and innovation. Empowering future healthcare leaders to make a
            difference in the world.
        </p>
    </div>
</section>

<section class="py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center">
                <i class="fas fa-stethoscope fa-3x text-primary mb-4"></i>
                <h2 class="fw-bold">
                    World-Class Programs
                </h2>
                <p class="text-muted">
                    Offering a wide range of undergraduate and postgraduate medical programs tailored to provide the
                    best education and training for future doctors and healthcare professionals.
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fas fa-flask fa-3x text-primary mb-4"></i>
                <h2 class="fw-bold">Cutting-Edge Research</h2>
                <p class="text-muted">
                    Our research centers and laboratories are at the forefront of medical discoveries, contributing to
                    global health improvement and scientific advancements.
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fas fa-heartbeat fa-3x text-primary mb-4"></i>
                <h2 class="fw-bold">Patient-Centered Care</h2>
                <p class="text-muted">
                    We combine education with hands-on patient care experience, ensuring our students develop the skills
                    and compassion needed to excel in healthcare.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}