/* General styles */
/* Colors */

:root {
    --red-color: #D82A21;
    --dark-color: rgba(0, 0, 0, 0.65);
    --light-color: #f8f9fa;
}

.red-color {
    color: var(--red-color);
}

/* Button */
.btn-custom {
    background-color: var(--light-color);
    color: var(--dark-color);
    opacity: 75%;
    border: 1px solid var(--light-color);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    opacity: 60%;
}

/* Fix appearence for disabled objects*/
select[disabled] {
    -webkit-appearance: none;  /* Safari */
    -moz-appearance: none;     /* Firefox */
    appearance: none;          /* Modern browsers */
    background-color: #f0f0f0; 
}

/* Customization of Bootstrap */

.navbar .nav-link:hover {
    background-color: var(--light-color);
    color: var(--red-color);
}

.navbar .navbar-brand .red-color:hover,
.footer-link:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.nav-tabs .nav-link.active {
    opacity: 0.5;
}

.nav-tabs .nav-link:not(.active):hover,
.nav-tabs .nav-link:not(.active):focus {
    color: var(--light-color);
}

.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
    color: var(--dark-color);
}

.link-light:hover,
.link-light:focus {
    opacity: 75%;
}

/* Custom styling for Django's login error messages */
.errorlist.nonfield {
    background-color: var(--red-color);
    color: var(--light-color);
    border-radius: 5px;
    list-style-type: none;
}

/* Home page */

.bg-image-home {
    background-image: var(--bg-image-home-mobile-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Contact page */
.bg-image-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-contact-mobile-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#map {
    min-height: 360px;
}

/* Sign in page */
.bg-image-sign-in {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-sign-in-mobile-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Sign up page */
.bg-image-sign-up {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-sign-up-mobile-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Tutor dushboard*/
.nav-link-tutor {
    color: var(--light-color);
}

/* Student dushboard*/
.accordion-button.collapsed .fa-chevron-down {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.accordion-button .fa-chevron-down {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
}

/* Dashboard*/

.bg-image-dashboard-info {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-dashboard-mobile-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#update-selection {
    font-size: 180%;
}

#instructions-button {
    font-size: 200%;
}

/* 403/404 page*/
.bg-image-error {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-error-mobile-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* The feild created by DJango*/
#id_homework {
    width: 100%;
    height: 100px;
}

/* Fix class of Bootstrap which does not work. */
@media (min-width: 992px) {
    .row-cols-lg-7>* {
        flex: 0 0 auto;
        width: 14.28571428%;
    }
}

/* For larger mobile devices and tablets */
@media (min-width: 768px) {

    /* Home page */
    .bg-image-home {
        background-image: var(--bg-image-home-tablet-url);
    }

    /* Contact page */
    .bg-image-contact {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-contact-tablet-url);
    }

    /* Sign in page */
    .bg-image-sign-in {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-sign-in-tablet-url);
    }

    /* Sign up page */
    .bg-image-sign-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-sign-up-tablet-url);
    }

    /* Dashboard page */
    .bg-image-dashboard-info {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-dashboard-tablet-url);
    }

    /* 403/404 page*/
    .bg-image-error {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-error-tablet-url);
    }
}

/* For larger screens (Desktop) */
@media (min-width: 1024px) {

    /* Home page */
    .bg-image-home {
        background-image: var(--bg-image-home-url);
    }

    /* Contact page */
    .bg-image-contact {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-contact-url);
    }

    /* Sign in page */
    .bg-image-sign-in {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-sign-in-url);
    }

    /* Sign up page */
    .bg-image-sign-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-sign-up-url);
    }

    .bg-image-dashboard-info {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-dashboard-url);
    }

    /* 403/404 page*/
    .bg-image-error {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image-error-url);
    }
}